.sec{
  background-image: url(/public/Home.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container{
  width: 100%;
  max-width: 1350px;
  margin: auto;
  padding: 20px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.col{
  flex: 0 0 100%;
  padding: 10px;
}