
/* Navbar css */
.navContainer {
    width: 100%;
    max-width: 1350px;
    margin: auto; 
    padding: 20px;
  }
  
  .navContainer .navRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
  }
  .navContainer .navRow:first-child{
    flex: 0 0 20%;
    padding: 10px;
  }
  .navContainer .navRow .navCol{
    flex: 0 0 60%;
    padding: 10px;
  }
  .navContainer .navRow .cartCol{
    flex: 0 0 20%;
    padding: 10px;
  }
  /* .navContainer .navRow .menuCol{
    flex-basis: 60%;
  } */
  
  .navContainer ul {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
  }
  
  .navContainer ul li {
    list-style-type: none;
    margin: 0 20px;
  }